[submodule "docker-files"]
	path = docker-files
	url = https://github.com/LimeDevelopers/common-dockerfiles.git
	branch = nestjs
[submodule "src/_core/factories"]
	path = src/_core/factories
	url = https://github.com/LimeDevelopers/nestjs-core-factories.git
